//FONTS
$font-xsmall:         12px;
$font-small:          15px;
$font-medium:         18px;
$font-large:          21px;
$font-xlarge:         36px;

//COLORS
$color-purple:        #5A4D99;
$color-yellow:        #BFCC36;
$color-darkblue:      #1A587A;
$color-orange:        #FFA500;
$color-lightblue:     #009DF2;

$color-grey:          #F6F6F6;
$color-white:         #FFFFFF;

//TEXT COLORS
$text-color-dark:     #383838;
$text-color-grey:     #757575;

$text-color-lightblue:     #0645AD;

//MARGIN
//PADDING
$xxsmal:              6px;
$xsmall:              12px;
$small:               18px;
$medium:              24px;
$large:               30px;
$xlarge:              36px;
$xxlarge:             48px;

//IMAGE-HEIGHTS:
//  Header:           200px
//  Logo:             142px
//  Contact:          48px
//  Follow us:        24px
//  Item-logo:        80px
//  icons:            18px

//WIDTH
//max-width: 984px;

//MEDIA QUERY
$iPhone:             375px;
$tablet-min-size:    376px;
$tablet-max-size:    1024px;